<%- include("./inc/header.ejs") %>
    <script>
        $(document).ready(function(){
            f.explore.load();
        })
    </script>
    <div class="f-wrapper">
        <div class="columns f-columnArea">
            <%- include("./inc/sidebar.ejs") %>
            <div class="column f-exploreColumn">
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-3">Explore</h3>
                    </div>
                </div>
                <div class="is-divider"></div>
                <div class="card f-card f-createCardSelector">
                    <div class="f-cardInner">
                        <h3 class="title is-4">Create Card</h3>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" onclick="f.explore.create.info();">Info</a>
                        <a href="#" class="card-footer-item" onclick="f.explore.create.user();">User</a>
                        <a href="#" class="card-footer-item" onclick="f.explore.post.splitter();">Splitter</a>
                    </footer>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Banner</a>
                        <a href="#" class="card-footer-item" onclick="f.explore.create.minimal('header');">Header</a>
                        <a href="#" class="card-footer-item" onclick="f.explore.create.minimal('footer');">Footer</a>
                    </footer>
                </div>
                <div class="card f-card f-createInfoCard">
                    <div class="f-cardInner">
                        <div class="control">
                            <input type="text" class="input f-cardTitleInput" placeholder="Title" />
                        </div>
                        <div class="control">
                            <textarea class="textarea f-cardBodyinput" placeholder="Body"></textarea>
                        </div>
                        <div class="field has-addons is-fullwidth f-gradients">
                        </div>
                        <div class="control">
                            <button class="button f-postButton is-primary f-fullsizeButton" style="margin-bottom: 10px;" onclick="f.explore.post.info();" disabled>Post</button>
                            <button class="button f-fullsizeButton" onclick="f.explore.dismiss.info();">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="card f-card f-createUserCard">
                    <div class="f-cardInner">
                        <div class="control">
                            <input type="text" class="input f-userUsernameInput" placeholder="Username (excluding @, e.g. 'flip')" />
                            <p class="help f-help f-userUsernameInputHelp is-danger">This password is invalid.</p>
                        </div>
                        <div class="control">
                            <button class="button f-userPostButton is-primary f-fullsizeButton" style="margin-bottom: 10px;" onclick="f.explore.post.user();" disabled>Create</button>
                            <button class="button f-fullsizeButton" onclick="f.explore.dismiss.user();">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="card f-card f-createMinimalCard">
                    <div class="f-cardInner">
                        <div class="control">
                            <input type="text" class="input f-cardTitleInput" placeholder="Content" />
                        </div>
                        <div class="control">
                            <button class="button f-postButton is-primary f-fullsizeButton" style="margin-bottom: 10px;" onclick="f.explore.post.info();" disabled>Post</button>
                            <button class="button f-fullsizeButton" onclick="f.explore.dismiss.minimal();">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-4">Reset Feed</h3>
                        <p>A feed is a version of the Explore page. You can use feeds to reset the Explore page.</p>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" onclick="f.explore.feed.create();">Reset Feed</a>
                    </footer>
                </div>
                <div class="is-divider"></div>
                <div class="f-sortable"></div>
            </div>
            <div class="column f-popularColumn">
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-3">Popular Posts</h3>
                        <p>Sorted by most views in the last 24 hours.</p>
                    </div>
                </div>
                <div class="is-divider"></div>
                <div class="f-popular"></div>
            </div>
        </div>
    </div>
<%- include("./inc/footer.ejs") %>