<%- include("./inc/header.ejs") %>
    <div class="f-wrapper">
        <div class="columns f-columnArea">
            <%- include("./inc/sidebar.ejs") %>
            <div class="column">
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-3">Latest Users</h3>
                    </div>
                </div>
                <div class="f-newUsers"></div>
            </div>
        </div>
    </div>
    <style>
        button.f-deleteButton-thin {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function(){
            f.users.load();
        })
    </script>
<%- include("./inc/footer.ejs") %>