<%- include("./inc/header.ejs") %>
    <div class="f-wrapper">
        <div class="columns f-columnArea">
            <%- include("./inc/sidebar.ejs") %>
            <div class="column f-supportColumn">
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-3">Support</h3>
                    </div>
                </div>
                <div class="card f-card">
                    <div class="f-cardInner">
                        <p>Open Requests: 500</p>
                        <p>Open Requests (today): 200</p>
                        <p>Closed Requests: 1000</p>
                    </div>
                </div>
                <div class="card f-card">
                    <div class="f-cardInner">
                        <h3 class="title is-3">Post Report</h3>
                        <p>Created by: William (@william)</p>
                        <p>Aimed at: flip (@flip)</p>
                        <p>Reason: Violence</p>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">View Post</a>
                    </footer>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Mark as Valid</a>
                        <a href="#" class="card-footer-item">Mark as Invalid</a>
                    </footer>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Mark as Completed</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
<%- include("./inc/footer.ejs") %>