<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <link rel="stylesheet" href="/assets/css/cdn/bulma-divider.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        
        <link rel="shortcut icon" href="/assets/img/flip_gradientIcon.png" type="image/x-icon" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://momentjs.com/downloads/moment.min.js"></script>
        <script src="/assets/js/cdn/vex.combined.min.js"></script>
        <script src="/assets/js/cdn/md5.min.js"></script>
        <script src="/assets/js/flip_admin.js"></script>

        <link rel="stylesheet" href="/assets/css/flip_core.css" />
        <link rel="stylesheet" href="/assets/css/flip_admin.css" />
    </head>
<body>
    <div class="f-bg"></div>