    <div class="column f-defaultColumn">
        <div class="card f-card f-center">
            <div class="f-cardInner" style="padding-left: 0px;">
                <img src="/assets/img/flip_gradientLogo.png" alt="flip" class="f-logo f-logoFix">
            </div>
        </div>
        <div class="card f-card f-menuCard">
            <aside class="menu">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li><a href="/admin" <% if(sidebar == "home") { %> class="is-active" <% } %></a>Home</a></li>
                    <li><a href="/admin/explore" <% if(sidebar == "explore") { %> class="is-active" <% } %></a>Explore</a></li>
                    <!-- <li><a href="/admin/support" <% if(sidebar == "support") { %> class="is-active" <% } %></a>Support</a></li> -->
                </ul>
                <p class="menu-label">More Options</p>
                <ul class="menu-list">
                    <li><a href="/admin/logout">Logout</a></li>
                </ul>
                <br>
            </aside>
        </div>
        <div class="card f-card f-center">
            <div class="f-cardInner">
                <p>Please contact William (<a href="mailto:w.gibbo3@icloud.com">w.gibbo3@icloud.com</a>) directly for any questions.</p>
            </div>
        </div>
    </div>