<%- include("./inc/header.ejs") %>
        <div class="fl-bgGradient"></div>
        <div class="fl-center">
            <h1 class="fl-tagline">We couldn't find the page you were looking for.</h1>
            <h2 class="fl-tagline"><a href="/">Go home?</a></h2>
        </div>
<%- include("./inc/footer.ejs") %>