<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>LOOOP <%= env %> API</title
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous" />
        <style>
        .hero.is-primary {
        background: rgb(255,0,0) !important;
        background: linear-gradient(90deg, rgba(255,0,0,1) 5%, rgba(255,179,0,1) 22%, rgba(255,226,0,1) 36%, rgba(0,255,111,1) 51%, rgba(0,202,255,1) 63%, rgba(209,0,255,1) 80%) !important;
        height: 1000px !important;
        }
        </style>
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">Rainbow</h1>
                <h2 class="subtitle">You found the rainbow 🌈🌈🌈</h2>
                </div>
            </div>
        </section>
    </body>
</html>
