<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>FLIP <%= env %> API</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous" />
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">flip <%= env %> API</h1>
                <h2 class="subtitle">This is the API for the iOS app flip. You can download it at <a href="https://download.flip.wtf" target="_blank">https://download.flip.wtf</a>.</h2>
                </div>
            </div>
        </section>
    </body>
</html>
