<%- include("./inc/header.ejs") %>
        <div class="fl-bgGradient"></div>
        <div class="fl-center">
            <a href="/download" target="_blank">
                <img class="fl-logo" src="/assets/img/flip_logo.png" alt="flip.wtf" />
            </a>
        </div>
<%- include("./inc/footer.ejs") %>