<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/assets/css/flip_detail.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="/assets/img/flip_appIconLogoLarge.png" type="image/x-icon" />
    </head>
    <body>
    	<div class="fl-bg">
    		<div class="fl-back"></div>
    		<div class="fl-header"></div>
    	</div>
    	<div class="fl-main">
    		<div class="fl-header">
    			<img class="fl-logo" src="/assets/img/flip_logo.png" />
    		</div>
    		<div class="fl-content">
    			
    		</div>
    		<div class="fl-footer">
    			
    		</div>
    	</div>
	</body>
</html>