<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <link rel="stylesheet" href="/assets/css/cdn/bulma-divider.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

        <link rel="shortcut icon" href="/assets/img/flip_gradientIcon.png" type="image/x-icon" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="/assets/js/cdn/md5.min.js"></script>
        <script src="/assets/js/flip_settings.js"></script>
        
        <link rel="stylesheet" href="/assets/css/flip_core.css" />
        <link rel="stylesheet" href="/assets/css/flip_settings.css" />
    </head>
<body>
    <div class="f-bg"></div>